.button_order {
  width: 80px;
  height: 40px;
  box-shadow: 3px 3px 7px -3px #050505;
  background-color: wheat;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
}
