.container_pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.page {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: white;
  border: 2px solid rgb(170, 97, 186);
  width: 100px;
  height: 35px;
  margin: 10px;
}

.button_page {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgb(170, 97, 186) 5%,
    rgb(206, 156, 86) 100%
  );
  background-color: rgb(170, 97, 186);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #8a3e4b;
}

.button_page:hover {
  background: linear-gradient(
    to bottom,
    rgb(170, 97, 186) 50%,
    rgb(206, 156, 86) 100%
  );
  background-color: yellow;
  transform: scale(1.1);
}

.button_page:active {
  position: relative;
  top: 1px;
}
