.order_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.orderbar_item_title {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;
  color: wheat;
  border: 2px solid wheat;
  width: 90px;
  height: 35px;
  margin: 10px;
}

.button_order_selected {
  width: 80px;
  height: 40px;
  box-shadow: inset 6px 6px 14px -7px #050505;
  background: linear-gradient(to bottom, black 5%, white 100%);
  background-color: #f06000;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 10px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #8a3e4b;
  margin-right: 5px;
}

.button_order {
  margin-right: 5px;
  width: 80px;
  height: 40px;
  box-shadow: 3px 3px 7px -3px #050505;
  background: linear-gradient(to bottom, white 5%, black 100%);
  background-color: wheat;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "VT323", monospace;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #8a3e4b;
}

.button_order:hover {
  background: linear-gradient(to bottom, white 5%, wheat 100%);
  background-color: wheat;
  transform: scale(1.1);
}

.button_order:active {
  position: relative;
  top: 1px;
}
