.water {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-water;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.bug {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-bug;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.dark {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-dark;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.dragon {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background: $color-dragon;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.electric {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-electric;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.fairy {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-fairy;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.fighting {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-fighting;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.fire {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-fire;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.flying {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-flying;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.ghost {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-ghost;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.grass {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-grass;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.ground {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-ground;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.ice {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-ice;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.normal {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-normal;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.poison {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-poison;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.psychic {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-psychic;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.rock {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-rock;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.shadow {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-shadow;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.steel {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-steel;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
.unknown {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  background-color: $color-unknow;
  width: 100px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}
