.conteiner_tecnologias {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: aliceblue;
  padding: 10px;
  width: 600px;
  margin-top: 20px;

  @include sm {
    width: 330px;
  }
}

.container_imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  @include sm {
    margin-top: 10px;

    padding-bottom: 10px;
  }
}

.image_tecnologias {
  width: 45px;
  height: 45px;
  padding: 10px;
}

.container_about {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background: linear-gradient(to top right, lightblue, wheat);

  @include sm {
    flex-wrap: nowrap;
    padding: 100px;
  }
}

.conteiner {
  width: 600px;
  text-align: center;

  @include sm {
    width: 350px;
    height: 380px;
  }
}

.conteiner_title {
  text-align: center;
  width: 380px;
}

.title {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  font-family: "VT323", monospace;
  text-align: center;
  padding: 5px 0px 5px 10px;
  color: hsl(0, 0%, 0%);

  @include sm {
    font-size: 1rem;

    padding: 0;
  }
}

.parrafo {
  font-size: 0.9rem;
  text-align: justify;
  font-weight: bold;
  font-family: "VT323", monospace;
  padding: 0px 0px 5px 10px;
  color: hsl(0, 0%, 0%);

  @include sm {
    padding: 0;
  }
}

.developer {
  border-radius: 5px;
  @include sm {
    width: 200px;
    height: 200px;
  }
}
