.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: url("../../../assets/fondo2.gif") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.title {
  color: rgb(170, 97, 186);
  font-size: 3em;
  transition: all 0.5s;
}

.link {
  height: 350px;
  margin: 10px;
}

.title:hover {
  font-size: 4em;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 50px;
}

.characters {
  width: 97%;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  margin-top: 30px;
}
